################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# detect my fucking changes
################################################################################

/.vs/iiMenu/FileContentIndex
/.vs/iiMenu/v18
/obj/Debug/netstandard2.1/publicized
/obj/Debug/netstandard2.1
/obj
/.vs/iiMenu/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/iiMenu/CopilotIndices/18.6.39495.22055
